.two{
position: relative;
top: 90px;
background-color: blue;
}
.three{
    position: absolute;
    left: 400px;
    top: 700px;
    background-color: brown;
}
.four{
    position: fixed;
    top: 350px;
    background-color: burlywood;
}
.five{
    position: sticky;
    
    top:650px;
    background-color: cornflowerblue;
}
h1{
    text-shadow: 3px 2px blue;
    color: burlywood;
}
