.two{
position: relative;
top: 40px;
background-color: blue;
}
.three{
    position: absolute;
    left: 30px;
    background-color: brown;
}
.four{
    position: fixed;
    top: 100px;
    background-color: burlywood;
}
.five{
    position: sticky;
    left: 500px;
    top:500px;
    background-color: cornflowerblue;
}
h1{
    text-shadow: 3px 2px blue;
    color: burlywood;
}
