.container{
    border: 1px solid black;
    margin: 500px;
    padding: 20px;
}
.header{
    text-align: end;
}
.logo{
    text-align: center;
}
.submit{
    background-color: chocolate;
    tex
    
}
.text{
    text-align: center;
}