*{
	padding: 0;
	margin: 0;
}
.container{
    border: 1px solid black;
    margin: 200px 500px;
    padding: 20px;
}
.header{
    text-align: end;
}
.logo{
    text-align: center;
}
.submit{
    background-color: chocolate;
    
    
}
.text{
    text-align: center;
}