div p{
    background-color: brown;
    text-align: center;
}
div> p{
     background-color: rgb(111, 217, 221);

     
}
div ~ p{
    background-color: coral;
}
div + p{
    background-color: crimson;
    font-size: bolder;
    font-family: sans-serif;
}
.third-div span p{
    font-size: 32px;
    background-color: blue;
}
div .fourth-div p{
    background-color: rgb(58, 8, 58);
    color: darkred;
}